/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.site-column {
	display: flex;
	height: 100vh;
}

.col-1 {
	background-color: antiquewhite;
	display: flex;
	flex: 2;
	background-image: url("https://github.com/cat-milk/Anime-Girls-Holding-Programming-Books/blob/master/ABAP/Felix_Argyle_holding_ABAP_textbooks.png?raw=true");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  
}

.col-2 {
	display: flex;
	flex-direction: column;
	background-color: blueviolet;
	flex: 5;
}

.card-1 {
	padding: 40px;
	font-size: 40px;
	background-color:rgb(235, 232, 232);
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.card-2 {
	padding: 40px;
	background-color:white;
	border-top: 2px solid lightgray;
	box-shadow: 0px 5px 5px rgb(207, 208, 208);
	flex:1;
	/* this prevents the box shadow from being blocked by card 3 */
	position: relative;
	z-index: 10;
}

.card-3 {
	background-color:rgb(235, 232, 232);
	flex:1;
}

.form-col {
	margin-bottom: 40px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
  }

  .form-col input {
	background-color: #FFFFFF;
	border: 1px solid #D6D9DC;
	border-radius: 3px;
	width: 100%;
	padding: 7px;
	font-size: 14px;
  }
  
  .form-col label {
	margin-bottom: 15px;
  }

  .form-colgroup {
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 30%;
  }
  
  .form-container {
	display: flex;
	gap: 40px;
  }

.logo-container {
	position: relative;
	top:200px;
	max-height:250px;
	width:100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	object-fit: cover;
	max-height: 100%;
}

h1 {
	color:white;
	font-size: 200px;
}

legend {
	font-size: 30px;
	font-weight:bold;
}